/* NOTE !!! >>>>
Because of that maybe the background poicture be heavy in size.
I am adding another option so that if the Background picture was heavy, a Background Color will be used instead.
Just take the Background color out of the Comment and put Background Image in a comment or delete it. */

body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-image: url(cross.changed.jpg);
    /* to get the background color working put the upper line in comments or delete it and take out the under line out of the comments */
    /*background: repeating-linear-gradient(50deg, snow, rgba(37, 37, 37, 0.808));*/
    background-size: cover;
    background-position: right;
}

.alert {
    font-size: 25px;
    margin: auto;
    margin-top: 60px;
    margin-left: 50px;
    padding: 40px;
    width: 70%;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.575);
    color: snow;
    border-radius: 50px;
    border: none;
    z-index: 6;
}

.form {
    margin: auto;
    margin-top: 60px;
    margin-left: 50px;
    padding: 40px;
    width: 70%;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.575);
    color: snow;
    border-radius: 50px;
    border: none;
    z-index: 6;
}

.name-input {
    font-size: 25px;
    border-radius: 45px;
    border: none;
    padding: 10px;
}

.field {
    margin: 10px;
    padding: 15px;
    border: solid rgb(112, 111, 111) 2px;
    border-radius: 40px;
    font-size: 24px;
}

.fieldhidden {
    visibility: hidden;
}

.labelhidden {
    display: none;
}

.persons-num-label {
    font-size: 22px;
}

.persons-num-input {
    font-size: 22px;
    width: 10%;
    border-radius: 15px;
    padding: 10px;
}

.submit-btn {
    margin: 5px;
    padding: 10px;
    width: 50%;
    background-color: snow;
    color: black;
    font-size: 22px;
    border: none;
}

.submit-btn:hover {
    background-color: black;
    color: snow;
    border-radius: 55px;
    font-weight: bolder;
    transition: ease-in 0.6s;
}

.selectservice {
    margin: 10px 0px 0px 20px;
    float: left;
}

.servicename {
    margin: 10px 0px 0px 40px;
    text-align: left;
    float: left;
}

.countparticipants {
    width: 100%;
    float: right;
}

.upstream {
    margin: auto;
    margin-left: 50px;
    padding: 40px;
    width: 70%;
    text-align: center;
}

/* Here i am adding The Media Querieres */


/*This Media query will target Screens that are less than 480px in width*/

@media (max-width: 480px) {
    body {
        width: 80%;
    }
    .alert {
        margin: auto;
        width: 80%;
        font-size: 18px;
    }
    .form {
        margin: auto;
        width: 80%;
    }
    .upstream {
        margin: auto;
        width: 80%;
    }
    .name-input {
        margin: auto;
        max-width: 75%;
        font-size: 15px;
    }
    .row {
    }
    .field {
        margin: auto;
        max-width: 75%;
        font-size: 15px;
    }
    .persons-num-label {
        font-size: 15px;
    }
    .persons-num-input {
        margin: auto;
        max-width: 80%;
        width: 30px;
        font-size: 15px;
    }
    .selectservice {
        margin: 10px 0px 0px 0px;
        float: left;
    }
    .servicename {
        margin: 10px 0px 0px 0px;
        width: 80%;
        float: right;
    }
    .submit-btn {
        font-size: 18px;
    }
    .btn-big {
        width: 70%;
    }
}


/*This Media Query is targeting screens that are between 640px and 481px */

@media (max-width: 640px) and (min-width: 481px) {
    .form {
        margin-top: 30px;
        margin-left: 10px;
        padding: 20px;
        width: 80%;
        background-color: rgba(10, 10, 10, 0.472);
        color: snow;
    }
    .field {
        margin: 5px;
        padding: 5px;
        margin-right: 20px;
        font-size: 18px;
    }
}
